body {
    font-size: 18px;
}

.yard {
    width: 30em;
    height: 30em;
    border: 1px solid #999;
    position: relative;
    background-color: #f2ffef;
}

.goat {
    width: 2em;
    height: 2em;
    position: absolute;
}

.goat--red {
    /*fill : #F00; */
    transform: rotate(-135deg);
    left: 0;
    top: 0;
}
.goat--blue {
    /*fill : #00F; */
    transform: rotate(45deg);
    right: 0;
    top: calc(100% - 2em);
}