body {
    font-size: 18px;
}

.yard {
    width: 30em;
    height: 30em;
    border: 1px solid #999;
    position: relative;
    background-color: #f2ffef;
}

.goat {
    width: 4em;
    height: 4em;
    position: absolute;
    margin-left: -2em;
    margin-bottom: -2em;

}

.goat--red {
    transform: rotate(-135deg);
    /*left: 0;
    top: 0;*/
}
.goat--red path { fill : #F00; }
.goat--blue {
    transform: rotate(45deg);
    /*right: 0;
    top: calc(100% - 2em);*/
}
.goat--blue path { fill : #00F; }