$goatWidth : 2em;
$redColor : #F00;
$blueColor : #00F;
$yardColor : #F2FFEF;

body {
    font-size: 18px;
    font-family: monospace;
}
.header {
    text-align:center;
    display: flex;
    align-items: bottom;
}
.header__goat {
    flex-basis: 40%;
}
.header__goat--red {
    .header__goatname { color: $redColor; }
}
.header__goat--blue {
    .header__goatname { color: $blueColor; }
}
.header__middle {
    flex-basis: 20%;
}

.yard {
    width: 40em;
    height: 40em;
    /*border: 1px solid #999;*/
    position: relative;
    background-color: $yardColor;
    margin: $goatWidth/2 auto;
}

.goat {
    width: $goatWidth;
    height: $goatWidth;
    position: absolute;
    margin-left: -1 * $goatWidth/2;
    margin-bottom: -1 * $goatWidth/2;

    &.isRamming {
        .ramming { display: block; }
        .standing { display: none; }
    }

    .ramming {
        display: none;
    }

    .standing {

    }
}

.goat--red {
    path, polygon { fill : $redColor; }
}
.goat--blue {
    path, polygon { fill : $blueColor; }
}